{% extends 'base_generic.html' %}
{% load i18n %}
{% load static %}
{%  block content %}
<link rel="stylesheet" type='text/css' href="{% static 'chat/css/styles.css' %}">
<div class="chat-icon" id="toggleChat">
    <i class="fas fa-comments"></i>
</div>
{% include 'dashboard.html' %}
<div class="chat-container" id="chatContainer">
 <form method="post" id="chatForm" onsubmit="sendMessage(event);">
    <div class="chat-header">
            {% csrf_token %}
            <div class="chat-settings">

                <div class="form-group">
                    {{ form.database_source }}
                </div>
            </div>

        <i id="closeChat" class="fas fa-close" style="cursor: pointer"></i>
    </div>
    <!-- Üzenetek -->
    <div class="chat-body">
        <div id="messagesContainer" class="sidepanel">

            {% for message in messages %}
                {% if message.type == 'HUMAN' %}
                    <div class="message user-message">
                        <strong>{% trans 'You' %}:</strong> {{ message.message }}
                    </div>
                {% else %}
                    {% if message.message %}
                        <div class="message reply-message">

                            <strong>{% translate 'System' %}:</strong> {{ message.message }}

                        </div>
                    {% endif %}
                {% endif %}
                {% if message.chart %}
                     <div class="custom-chart" data-id="{{ message.chart.id }}"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
         <div class="d-flex justify-content-between">

        <div class="form-group user-typer">
            {{ form.user_message }}
        </div>
             <button type="button" class="btn btn-danger btn-sm clear-chat-btn" onclick="clearChat()" >
                    <i class="fas fa-trash-alt"></i>
            </button>
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fas fa-paper-plane"></i>
            </button>

        </div>
    </form>
</div>


<script src="{% static 'chat/js/chart.js' %}"></script>
<script>
    let chatLoaded = false;
    document.getElementById("toggleChat").addEventListener("click", toggleChat)
    document.getElementById("closeChat").addEventListener("click", toggleChat)
    function toggleChat() {
            let chatContainer = document.getElementById('chatContainer');
            chatContainer.style.display = chatContainer.style.display === 'none' || chatContainer.style.display === ''
                ? 'block' : 'none';

            if (chatContainer.style.display === 'block' && chatLoaded === false) {
                document.querySelectorAll('.custom-chart').forEach(function(element) {
                    new ChartHelper('{% url "reporter_agent:get_chart" 0 %}'.replace('0', element.dataset.id), '', element, element.dataset.id, true)
                });
                chatLoaded = true
            }
        }

      function sendMessage(event) {
        event.preventDefault();
        const form = document.getElementById("chatForm");
        const formData = new FormData(form);
        const messagesContainer = document.getElementById('messagesContainer');
        const sendButton = form.querySelector('button[type="submit"]');
        const userMessage = createElementFromString('<div class="message user-message"><strong>{% trans 'You' %}:</strong> ' + formData.get('user_message') + '</div>')
        messagesContainer.append(userMessage);
        userMessage.scrollIntoView({behavior: "smooth", block: "end"})
        sendButton.disabled = true;
        sendButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        const userMessageField = document.getElementById('chatUserMessage');
        userMessageField.value = ''
        fetch("{% url 'chat:chat' %}", {
            method: "POST",
            body: formData,
            headers: {
                'X-CSRFToken': Cookies.get('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                const message = createElementFromString('<div class="message reply-message"><strong>{% trans System %}:</strong> ' + data.message + '</div>')
                message.scrollIntoView({behavior: "smooth", block: "end"})
                sendButton.disabled = true;
                messagesContainer.append(message);
            }
            if (data.chart_id) {
                new ChartHelper('{% url "reporter_agent:get_chart" 0 %}'.replace('0', data.chart_id), '', messagesContainer, data.chart_id, true, true);
            }
        })
        .catch(error => {
            console.error('Hiba történt:', error);
        })
        .finally(() => {
            sendButton.disabled = false;
            sendButton.innerHTML = '<i class="fas fa-paper-plane"></i>';
        });

        return false;
    }


    function clearChat() {
        $.ajax({
            type: 'POST',
            url: '{% url "chat:clear_chat" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    const messages = document.getElementById("messagesContainer")
                    while (messages.firstChild) {
                        messages.removeChild(messages.lastChild)
                    }
                }
            }
        });
    }

</script>
{% endblock %}