<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'chat' %}">Chat App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/chat/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'chat' %}">Start Chat</a>
            </li>
            <li class="nav-item {% if request.path == '/chat/history/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'chat_history' %}">Chat History</a>
            </li>
            <li class="nav-item {% if request.path == '/db_configurator/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'db_configurator:manage_connections' %}">DB connections</a>
            </li>
        </ul>
    </div>
</nav>