.dashboard-container {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-bottom: 10px;
}
.custom-dashboard {
    width: 95vw;
    margin: auto;
}
.grid-stack-item-content {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.grid-stack-item-content .slot-trash {
    display: none;
}
.grid-stack-item-content:hover .slot-trash{
    display: block;
}
.slot-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.slot-trash {
    height: 5px;
    color: red;
    cursor: pointer;
}
