{% load i18n %}
{% load static %}
<div class="modal fade" id="addDatabaseModal">
         <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title">{% trans "Connection" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                 <div class="modal-body">
                     <div class="container mt-4 form-container">
                        <div class="col-md-12">
                        <form id="databaseForm" method="POST" novalidate >
                        {% csrf_token %}
                            <input type="number" hidden="hidden" id="db_id" name="id">
                        <div class="mb-3">
                            <label for="id_type" class="form-label">Database Type</label>
                            <select class="form-select" id="id_type" name="type">
                                <option value="">{% trans  "Select a type" %}</option>
                                {% for value, label in form.type.field.choices %}
                                    <option value="{{ value }}" {% if value == form.type.value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_name" class="form-label">{% trans  "Database name" %}</label>
                            <input type="text" class="form-control" id="id_name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="id_display_name" class="form-label">{% trans  "Display name" %}</label>
                            <input type="text" class="form-control" id="id_display_name" name="display_name">
                        </div>
                        <div class="mb-3">
                            <label for="id_username" class="form-label">{% trans  "Username"%}</label>
                            <input type="text" class="form-control" id="id_username" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">{% trans "Password" %}</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="id_password" name="password">
                                <button type="button" class="btn btn-outline-secondary" id="togglePassword" aria-label="Toggle password visibility">
                                    <i class="fas fa-eye password-eye-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id_host" class="form-label">{% trans "Host" %}</label>
                            <input type="text" class="form-control" id="id_host" name="host">
                        </div>
                        <div class="mb-3">
                            <label for="id_port" class="form-label">{% trans "Port" %}</label>
                            <input type="number" class="form-control" id="id_port" name="port">
                        </div>
{#                        <button type="submit" class="btn btn-primary w-100">Save Connection</button>#}
                        </form>
                        </div>
                     <div id="save_form_errors"></div>
                    </div>
                 </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" id="submitButton" class="btn btn-primary">{% trans 'Save Connection'%}</button>
                         <div id="db-loader-spinner" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                     </div>

            </div>
        </div>
    </div>

<script>

    document.getElementById('addDatabaseModal').addEventListener('show.bs.modal', () => {
        resetErrorMessage();
        const form = document.getElementById('databaseForm');
        form.reset();
        form.removeAttribute('data-database-id');
        form.querySelectorAll(".error-message").forEach(el => el.remove());
        form.querySelectorAll(".is-invalid").forEach(el => el.classList.remove("is-invalid"));
    });
    const errorContainer = document.getElementById("save_form_errors");
    const submitButton = document.getElementById("submitButton");
    const dbLoaderSpinner = document.getElementById('db-loader-spinner');

    dbLoaderSpinner.style.display = 'none';
    submitButton.style.display = 'block';

    submitButton.addEventListener('click', () => {
        resetErrorMessage()
        const form = document.getElementById("databaseForm");
        const formData = new FormData(form);

        submitButton.style.display = 'none';
        dbLoaderSpinner.style.display = 'block';

        // Clear previous error messages
        document.querySelectorAll(".error-message").forEach(el => el.remove());
        document.querySelectorAll(".is-invalid").forEach(el => el.classList.remove("is-invalid"));

        fetch("{% url 'db_configurator:connection' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Validation failed');
            }
        })
        .then(data => {
            if (data.success) {
                document.getElementById('openAddDatabaseModal').click();
                location.reload();
            } else {
                const errors = JSON.parse(data.errors);

                for (const [field, errorList] of Object.entries(errors)) {
                    console.log(field, errorList)
                    if (field === "__all__") {

                        errorContainer.innerHTML = "";

                        const alertDiv = document.createElement("div");
                        alertDiv.style.wordBreak = "break-all";
                        alertDiv.style.overflowWrap = "break-word";
                        alertDiv.className = "alert alert-danger alert-dismissible fade show";
                        alertDiv.role = "alert";

                        alertDiv.textContent = errorList.map(error => error.message).join(", ");

                        const dismissButton = document.createElement("button");
                        dismissButton.type = "button";
                        dismissButton.className = "btn-close";
                        dismissButton.setAttribute("data-bs-dismiss", "alert");
                        dismissButton.setAttribute("aria-label", "Close");
                        alertDiv.appendChild(dismissButton);

                        errorContainer.appendChild(alertDiv);
                        errorContainer.style.display = "block";
                        continue;
                    }
                    const inputElement = form.querySelector(`[name="${field}"]`);
                    if (inputElement) {
                        inputElement.classList.add("is-invalid");

                        const errorMessage = document.createElement("div");
                        errorMessage.className = "invalid-feedback error-message";
                        errorMessage.textContent = errorList.map(error => error.message).join(", ");
                        inputElement.parentElement.appendChild(errorMessage);
                    }
                }
            }
    })
    .catch(error => {
        console.error('Error:', error);
    })
    .finally(() => {
        dbLoaderSpinner.style.display = 'none';
        submitButton.style.display = 'block';
    });
});
    const passWordField = document.getElementById("id_password")

    document.getElementById("togglePassword").addEventListener('click', () => {
          if (passWordField.type === "password") {
            passWordField.type = "text";
          } else {
           passWordField.type = "password";
          }
    })

    function resetErrorMessage() {
        while (errorContainer.firstChild) {
            errorContainer.removeChild(errorContainer.firstChild);
        }
    }
</script>
